.tag {
  all: unset;
  border: 1px solid black;
  color: inherit;
  display: inline;
  font-size: 12px;
  font-weight: 600;
  padding: 8px;
}

.tagSelected {
  background-color: #e7397a;
}

.tagDisabled {
  opacity: 0.3;
}

@media (min-width: 720px) {
  .tag {
    font-size: 16px;
  }
}
