.projectImageContainer {
  position: relative;
  width: 170px;
}

/* @media (min-width: 400px) {
  .projectImageContainer {
    width: 100% !important;
    height: auto !important;
  }
} */

.projectImage {
  display: block;
}

/* @media (min-width: 400px) {
  .projectImage {
    width: 100% !important;
    height: auto !important;
  }
} */

.projectImageMask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 100%;
}

.projectImageMaskSelected {
  display: block;
}

.imageMaskButtonLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4%;
  left: 4%;
  width: 44%;
  height: 92%;
  background-color: rgba(231, 57, 121, 1);
}

.imageMaskButtonRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4%;
  right: 4%;
  width: 44%;
  height: 92%;
  background-color: rgba(231, 57, 121, 1);
}

.imageMaskIcon {
  width: 45px;
  height: 45px;
}

.imageMaskIconLeft {
  width: 37px;
  height: 37px;
  transform: translateY(-0.5px);
}

.imageMaskCaption {
  font-size: 12px;
  font-weight: 600;
}

.imageMaskCaptionLeft {
  transform: translateY(4px);
}

.projectTitle {
  margin-top: 4px;
  font-size: 12px;
}
.projectDescription {
  margin-top: 4px;
  font-size: 10px;
}
