.page {
  height: 100%;
  width: 100%;
}

.content {
  margin: 16px;
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  left: 5%;
  position: absolute;
  top: 0;
  transform: scale(1.35);
  width: 100%;
  z-index: -1;
}

.nav {
  font-family: "IBM Plex Mono", monospace;
  font-size: 32px;
  font-weight: 600;
  margin-top: 40vh;
}

.button {
  margin-top: 8px;
}

.link {
  color: inherit;
  display: block;
  margin-top: 8px;
  text-decoration: none;
}
