.track {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
}

.artworkContainer {
  position: relative;
}

.artwork {
  aspect-ratio: 1 / 1;
  display: block;
  height: auto;
  width: 100%;
}

.trackButtons {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 100%;
}

@media (min-width: 900px) {
  .artworkContainer:hover .trackButtons {
    display: block;
  }
}

.trackButtonsActive {
  display: block;
}

.Icon {
  width: 35px;
  height: auto;
}

.iconCaption {
  font-size: 12px;
  font-weight: 600;
  margin-top: 8px;
}
