.track {
  font-size: 12px;
  display: flex;
  margin-top: 24px;
  cursor: pointer;
  line-height: 16px;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
.track:hover {
  animation: flash 0.5s 1;
}

.track:active {
  opacity: 0;
}

.trackPlaying {
  font-weight: 600;
}

.track:last-of-type {
  margin-bottom: 18px;
}

.trackTitle {
  word-spacing: -2px;
  margin-left: 16px;
  width: 80%;
}

.trackIndex {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  margin-left: 4px;
  text-align: center;
}

@media (min-width: 720px) {
  .track {
    margin-top: 20px;
    font-size: 10px;
  }

  .track:first-of-type {
    margin-top: 24px;
  }

  .trackTitle {
    margin-left: 8px;
    width: 100%;
  }

  .duration {
    margin-right: 20px;
  }

  .trackIndex {
    margin-left: 20px;
  }
}

@media (min-width: 1400px) {
  .track {
    margin-top: 24px;
    font-size: 12px;
  }

  .track:first-of-type {
    margin-top: 32px;
  }
}
