.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.content {
  height: 97%;
  width: 94%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageTitle {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  text-decoration: underline;
  padding-bottom: 8px;
}

.tagsSection {
  gap: 16px;
  margin-top: 28px;
  position: relative;
}

.tagsList {
  display: flex;
  font-weight: 600;
  gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.tagsButton {
  line-height: normal;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  font-weight: 600;
  color: #e7397a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.closeIcon {
  margin-right: 6px;
  height: 12px;
  width: 12px;
}

.projectsSection {
  position: relative;
  display: grid;
  grid-template-columns: 48% 48%;
  /* grid-template-rows: 1fr; */
  margin-top: 24px;
  gap: 8px;
  row-gap: 8px;
  overflow-y: scroll;
}

.projectContainer {
  border: 1px solid red;
}

.projectImageContainer {
  position: relative;
}

.projectImage {
  display: block;
  height: auto;
  width: 100%;
}

.projectImageMask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 100%;
  border: 1px solid green;
}

.projectImageMask {
  display: block;
}

.imageMaskButtonLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4%;
  left: 4%;
  width: 44%;
  height: 92%;
  background-color: rgba(231, 57, 121, 1);
}

.imageMaskButtonRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4%;
  right: 4%;
  width: 44%;
  height: 92%;
  background-color: rgba(231, 57, 121, 1);
}

.imageMaskIcon {
  width: 45px;
  height: 45px;
}

.projectTitle {
  margin-top: 4px;
  font-size: 12px;
}
.projectDescription {
  margin-top: 4px;
  font-size: 10px;
}
