input[type="range"] {
  -webkit-appearance: none;
  all: unset;
  position: absolute;
  background-image: linear-gradient(#d6d6d6, #d6d6d6);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  inset: 0;
  z-index: 3;
  transition: background-size 2.5s ease;
}

input[type="range"]::-webkit-slider-thumb {
  opacity: 0;
}

input[type="range"]::-moz-range-thumb {
  opacity: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
}
