.playerContainer {
  display: flex;
}

.audioPlayer {
  display: block;
  margin: 0;
  width: 100%;
  margin-top: 15px;
}

.playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.playIcon {
  height: 15px;
}

.timeScrubber {
  width: 100%;
  margin-left: 10px;
}
