.artworkContainer {
  position: relative;
  overflow: hidden;
}

.player {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #e7397a;
  inset: 0;
  overflow: hidden;
}

.container:hover .player {
  visibility: visible;
}

.playerActive {
  visibility: visible;
}
