.artworkContainer {
  position: relative;
}

.player {
  display: none;
  position: absolute;
  background-color: #e7397a;
  inset: 0;
  overflow: hidden;
}

.container:hover .player {
  display: block;
}

.playerActive {
  display: block;
}
