.container {
  position: relative;
  display: inline-block;
  /* padding-left: 15px;
  padding-right: 15px; */
}

.container:hover .player {
  display: block;
}

.artworkContainer {
  position: relative;
}

.player {
  display: none;
  position: absolute;
  background-color: #e7397a;
  inset: 0;
}
