.about {
  margin-top: 24px;
  overflow: scroll;
  white-space: nowrap;
  flex-grow: 1;
  align-self: center;
  font-size: 15px;
}

.heading {
  color: black;
  font-weight: 600;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.image {
  display: none;
  width: 100%;
}

.linksSection {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 7%;
}

.linkButton {
  all: unset;
  padding: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 600;
  font-size: 12px;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 414px) {
  .section {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {
  .about {
    width: 900px;
    margin-top: 48px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }

  .heading {
    margin-top: 8px;
  }
  .heading:first-of-type {
    margin-top: 0;
  }

  .list {
    margin-top: 8px;
  }

  .image {
    display: block;
  }

  .linksSection {
    margin-top: 8px;
    position: relative;
    gap: 8px;
  }
  .linkButton {
    font-size: 14px;
    width: 40%;
    padding: 14px;
  }
}

@media (min-width: 1440px) {
  .about {
    width: 1000px;
  }
}
