.tracks {
  position: relative;
  margin-top: 24px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tracks::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1280px) {
  .tracks {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  .tracksContainer {
    width: 900px;
  }
}

@media (min-width: 1440px) {
  .tracksContainer {
    width: 1000px;
  }
}

@media (min-width: 1700px) {
  .tracksContainer {
    width: 1200px;
  }
}
