.tracks {
  position: relative;
  margin-top: 24px;
  overflow-y: scroll;
}

/* .tracks::-webkit-scrollbar {
  width: 5px;
}

.tracks::-webkit-scrollbar-thumb {
  color: red;
  width: 5px;
} */

@media (min-width: 1280px) {
  .tracks {
    width: 900px;
    justify-self: center;
    margin-top: 48px;
  }
}

@media (min-width: 1440px) {
  .tracks {
    width: 1000px;
    justify-self: center;
    margin-top: 48px;
  }
}
