.tracks {
  width: 100%;
  position: relative;
  margin-top: 24px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

@media (min-width: 1280px) {
  .tracks {
    margin-top: 48px;
  }

  .tracksContainer {
    width: 900px;
  }
}

@media (min-width: 1440px) {
  .tracksContainer {
    width: 1000px;
  }
}

@media (min-width: 1700px) {
  .tracksContainer {
    width: 1200px;
  }
}
