.playerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #e7397a;
  position: relative;
  margin-top: 24px;
  flex-grow: 1;
  overflow: hidden;
}

.closeIcon {
  position: absolute;
  top: 4px;
  right: 2px;
  height: 24px;
  width: 24px;
  padding: 4px;
}

.projectInfoSection {
  display: flex;
  margin-left: 32px;
  margin-top: 16px;
  flex-shrink: 0;
}

.projectInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  font-size: 12px;
  width: 40%;
  margin-left: 16px;
}

.projectDetailsBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.artwork {
  display: block;
  width: auto;
  height: 90px;
}

@media (min-width: 400px) {
  .projectInfoContainer {
    font-size: 14px;
  }

  .artwork {
    height: 110px;
  }
}

.videoButtonContainer {
  display: flex;
  align-items: center;
  font-size: 12px;
  transform: translateY(4.5px);
}

.videoIcon {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.track {
  font-size: 12px;
  display: flex;
  margin-top: 24px;
}

@media (min-width: 400px) {
  .track {
    font-size: 14px;
    margin-top: 28px;
  }
}

.trackPlaying {
  font-weight: 600;
}

.track:last-of-type {
  margin-bottom: 18px;
}

.trackIndex {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  margin-left: 4px;
  text-align: center;
}

.trackTitle {
  word-spacing: -2px;
  margin-left: 16px;
  width: 80%;
}

.playerContainer {
  flex-shrink: 0;
  position: relative;
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  border-top: 1px solid black;
}

@media (min-width: 400px) {
  .playerContainer {
    height: 120px;
    gap: 8px;
  }
}

.title {
  height: 16px;
  margin-top: 12px;
  font-size: 12px;
}

@media (min-width: 400px) {
  .title {
    font-size: 14px;
  }
}

.buttonsContainer {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playNextButton {
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../../../assets//images/play-next.svg");
}

.playPreviousButton {
  border: 0;
  background-color: transparent;
  padding: 0;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../../../assets//images/play-previous.svg");
}

.playNextButton :active {
  opacity: 0;
}

.playButton {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.playbutton :active {
  opacity: 0;
}

.playIcon {
  height: 35px;
  width: 35px;
}

@media (min-width: 400px) {
  .playIcon {
    height: 40px;
    width: 40px;
  }

  .playNextButton {
    height: 40px;
    width: 40px;
  }

  .playPreviousButton {
    height: 40px;
    width: 40px;
  }
}
