.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 16px;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  /* height: auto; */
  overflow: hidden;
  width: 94%;
  border: 1px solid blue;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageTitle {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  text-decoration: underline;
  padding-bottom: 8px;
}

.pageTitleIcon {
  height: 18px;
  width: 18px;
}

.tagsSection {
  gap: 16px;
  margin-top: 28px;
  position: relative;
}

.tagsList {
  display: flex;
  font-weight: 600;
  gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.tagsButton {
  line-height: normal;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  font-weight: 600;
  color: #e7397a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.closeIcon {
  margin-right: 6px;
  height: 12px;
  width: 12px;
}

.tracksSection {
  position: relative;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 1fr;
  margin-top: 24px;
  gap: 8px;
  row-gap: 8px;
  overflow-y: scroll;
}
