.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  margin: 16px;
}

.tagsSection {
  gap: 16px;
  margin-top: 40px;
  position: relative;
}

.tagsList {
  display: flex;
  font-weight: 600;
  gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.tagsButton {
  border: none;
  background-color: transparent;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  color: #e7397a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeIcon {
  margin-right: 6px;
  height: 12px;
  width: 12px;
}

.tracksSection {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  height: 500px;
  margin-top: 32px;
  gap: 8px;
  row-gap: 8px;
  overflow-y: scroll;
}
