.nav {
  font-size: 32px;
  font-weight: 600;
  margin-top: 40vh;
}

.link {
  color: inherit;
  cursor: pointer;
  display: block;
  margin-top: 8px;
  text-decoration: none;
  width: 300px;
}

.link:hover {
  color: #2d2e2e;
}

@media (min-width: 720px) {
  .link {
    margin-top: 16px;
  }
}
