.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  margin-top: 16px;
  width: 94%;
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  left: 5%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.nav {
  font-size: 32px;
  font-weight: 600;
  margin-top: 40vh;
}

.link {
  color: inherit;
  cursor: pointer;
  display: block;
  margin-top: 8px;
  text-decoration: none;
  width: 300px;
}

.link:hover {
  color: #2d2e2e;
}

@media (min-width: 720px) {
  .content {
    margin-top: 24px;
  }

  .image {
    margin-top: 5%;
    height: 80%;
    left: 0;
  }

  .link {
    margin-top: 16px;
  }
}
