.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  margin-top: 16px;
  width: 94%;
}

@media (min-width: 720px) {
  .content {
    margin-top: 24px;
  }
}
