.page {
  height: 100%;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}

.name {
  position: fixed;
  left: 50%;
  top: 220px;

  will-change: transform;
}

.title {
  position: fixed;
  left: 50%;
  top: 250px;

  will-change: transform;
}

.playContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.play {
  margin-top: 5px;
  height: 50px;
}

.image {
  position: fixed;
  bottom: 0;
  width: 106%;
  height: auto;
  transform: translate(-3%, 3%);
}

.arrowTop {
  height: 40px;
  position: fixed;
  top: 10%;
}

.arrowBottom {
  height: 40px;
  position: fixed;
  top: 10%;
}

.linksBlock {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 190px;
  will-change: transform;
}

.featuredWorkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
}

.divider {
  height: 33px;
  width: 3px;
  background-color: #424144;
}
