.page {
  height: 100%;
  max-width: 428px;
  background-color: #d6d6d6;
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}

/* .section1 {
  background-color: blue;
}

.section2 {
  background-color: orange;
}

.section3 {
  background-color: green;
} */

.name {
  position: fixed;
  left: 50%;
  top: 220px;
  z-index: 2;
}

.title {
  position: fixed;
  left: 50%;
  top: 250px;
  z-index: 2;
}

.playContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 220px;
}

.showreel {
  width: 100%;
  will-change: transform;
}

.play {
  height: 60px;
  will-change: transform;
}

.image {
  position: fixed;
  bottom: 0;
  max-width: 428px;
  height: auto;
}

.arrowTop {
  height: 50px;
  position: fixed;
  top: 10%;
}

.arrowBottom {
  height: 50px;
  position: fixed;
  top: 10%;
}
