.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  margin-top: 16px;
  overflow: hidden;
  width: 99%;
}

.mobilePlayerOpened {
  grid-template-rows: min-content min-content;
  height: auto;
  flex-shrink: 0;
}

@media (min-width: 380px) {
  .content {
    width: 98%;
  }
}

@media (min-width: 400px) {
  .content {
    width: 94%;
  }
}

@media (min-width: 720px) {
  .content {
    margin-top: 24px;
  }
}
