.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 16px;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  width: 94%;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pageTitle {
  color: inherit;
  font-size: 12px;
  padding-bottom: 8px;
  text-decoration: underline;
}

.imagesSection {
  margin-top: 24px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.image {
  width: 160px;
  height: auto;
  /* flex-grow: 1; */
}

.textSection {
  margin-top: 24px;
  font-size: 12px;
  margin-left: 8px;
  margin-right: 8px;
}

.heading {
  color: #e7397a;
  text-transform: uppercase;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  text-align: justify;
  text-transform: uppercase;
}

.contactsSection {
  margin-top: 16px;
  background-color: #e7397a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  height: 130px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.iconsContainer {
  display: flex;
  gap: 24px;
}

.icon {
  height: 30px;
  width: 30px;
}
