.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 16px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 94%;
  flex-grow: 1;
  overflow: hidden;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pageTitle {
  color: inherit;
  font-size: 12px;
  padding-bottom: 8px;
  text-decoration: underline;
}

.imagesSection {
  margin-top: 24px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.image {
  width: auto;
  height: 120px;
}

.textSection {
  margin-top: 16px;
  font-size: 15px;
  margin-left: 8px;
  margin-right: 8px;
  overflow: scroll;
  text-wrap: pretty;
  flex-grow: 1;
  border: 1px solid red;
}

.heading {
  color: #e7397a;
  text-transform: uppercase;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  /* text-align: justify; */
  text-transform: uppercase;
}

.contactsSection {
  margin-top: 16px;
  background-color: #e7397a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  height: 140px;
  width: 100%;
}

.iconsContainer {
  display: flex;
  gap: 24px;
}

.icon {
  height: 30px;
  width: 30px;
}
