.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  width: 94%;
  flex-grow: 1;
  overflow: hidden;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pageTitle {
  color: inherit;
  padding-bottom: 8px;
  text-decoration: underline;
}

.imagesSection {
  margin-top: 24px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.image {
  width: auto;
  height: 120px;
}

.textSection {
  /* margin-top: 16px; */
  /* margin-left: 8px; */
  /* margin-right: 14px; */
  overflow: scroll;
  /* text-wrap: pretty; */
  /* font-size: 16px; */
  text-align: end;
  flex-grow: 1;
  /* text-transform: uppercase; */
  white-space: nowrap;
  /* border: 1px solid green; */
}

@media (min-width: 375px) {
  .textSection {
    font-size: 15.3px;
  }
}

@media (min-width: 414px) {
  .textSection {
    font-size: 17px;
  }
}

.wrapper {
  display: inline-block;
  /* border: 1px solid red; */
}

.heading {
  color: #e7397a;
  font-weight: 600;
}

.list {
  list-style: none;
  padding: 0;
  /* width: 100%; */
  margin: 0;
  /* border: 1px solid orange; */
  /* font-size: min(max(16px, 4vw), 22px); */
}

.listItem {
  /* font-size: min(max(14px, 4vw), 22px);
  max-width: 100%; */
}

.contactsSection {
  /* margin-top: 10px; */
  /* background-color: #e7397a; */
  display: flex;

  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  /* gap: 16px; */
  flex-wrap: wrap;
  /* height: 100px; */
  width: 100%;
  /* border: 1px solid #e7397a; */
  gap: 8px;
  margin-bottom: 8px;
}

.button {
  all: unset;
  padding: 6px;
  border: 1px solid #000000;
  font-weight: 600;
  font-size: 12px;
  flex-grow: 1;
  text-align: center;
}

.button:nth-child(4) {
  order: 1;
}
