.projectInfoSection {
  display: flex;
  margin-left: 32px;
  margin-top: 16px;
  flex-shrink: 0;
}

.artwork {
  display: block;
  width: auto;
  height: 90px;
}

.projectInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  font-size: 12px;
  width: 40%;
  margin-left: 16px;
}

.projectDetailsBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.videoButtonContainer {
  display: flex;
  align-items: center;
  font-size: 10px;
  transform: translateY(4.5px);
  cursor: pointer;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.videoButtonContainer:hover {
  animation: flash 0.7s 1;
}

.videoButtonContainer:active {
  opacity: 0;
}

.videoIcon {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

@media (min-width: 700px) {
  .projectInfoSection {
    margin-left: 16px;
  }
}
