.tags {
  gap: 16px;
  margin-top: 28px;
  position: relative;
  flex-shrink: 0;
  padding-bottom: 24px;
  justify-self: center;
}

.tagsList {
  display: flex;
  font-weight: 600;
  gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

@media (min-width: 1080px) {
  .tags {
    width: 900px;
    justify-self: center;
    margin-top: 48px;
    padding-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .tags {
    width: 1000px;
  }
}
