.section {
  gap: 16px;
  margin-top: 28px;
  position: relative;
}

.tagsList {
  display: flex;
  font-weight: 600;
  gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
}

@media (min-width: 720px) {
  .section {
    width: 70%;
    justify-self: center;
    margin-top: 48px;
  }
}
