.section {
  gap: 16px;
  margin-top: 28px;
  position: relative;
}

.tagsList {
  display: flex;
  font-weight: 600;
  gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.tagsButton {
  line-height: normal;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  font-weight: 600;
  color: #e7397a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.closeIcon {
  margin-right: 6px;
  height: 12px;
  width: 12px;
}

@media (min-width: 720px) {
  .section {
    width: 80%;
    justify-self: center;
  }
}
