.specs {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subHeading {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.item {
  margin-top: 4px;
}

@media (min-width: 1280px) {
  .specs {
    align-self: center;
    margin-top: 32px;
    width: 900px;
  }

  .list {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .specs {
    width: 1000px;
    margin-top: 48px;
  }
}
