.loader {
  display: none;
  inset: 0;
  position: absolute;
  animation: barStripe 0.5s linear infinite;
  background-size: 1em 1em;
  background-color: #fff;
  background-image: linear-gradient(
    45deg,
    rgba(186, 76, 76, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(181, 47, 47, 0.25) 50%,
    rgba(168, 53, 53, 0.25) 75%,
    transparent 75%,
    transparent
  );
  height: 4px;
  z-index: 4;
}

.active {
  display: block;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}
