.container {
  background-color: #d6d6d6;
  flex-direction: column;
  inset: 0;
  justify-content: center;
  position: absolute;
}

.closeIcon {
  align-self: flex-end;
  all: unset;
  background-color: transparent;
  background-position: center;
  background-size: 90%;
  height: 30px;
  margin-bottom: 16px;
  width: 30px;
}
