.container {
  position: absolute;
  inset: 0;
  background-color: #d6d6d6;
  flex-direction: column;
  justify-content: center;
  will-change: opacity;
}

.closeIcon {
  all: unset;
  height: 30px;
  width: 30px;
  background-color: transparent;
  align-self: flex-end;
  background-size: 90%;
  background-position: center;
}
