.container {
  position: absolute;
  inset: 0;
  background-color: #d6d6d6;
  flex-direction: column;
  justify-content: center;
  will-change: opacity;
}

.playerContainer {
  margin-bottom: 120px;
  height: 260px;
}

.closeIcon {
  height: 70px;
  width: 70px;
  right: 0;
  top: 20%;
  border: none;
  background-color: transparent;
  align-self: flex-end;
}
