.togglerContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggler {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: start;
}

.text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  width: 110px;
  color: #424144;
}

.text__left {
  text-align: right;
}

.divider {
  height: 16px;
  width: 3px;
  background-color: #424144;
  margin-left: 10px;
  margin-right: 10px;
}
