.tags {
  gap: 16px;
  margin-top: 28px;
  position: relative;
}

.tagsList {
  display: flex;
  font-weight: 600;
  gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
}

@media (min-width: 1280px) {
  .tags {
    width: 900px;
    justify-self: center;
    margin-top: 48px;
  }
}

@media (min-width: 1440px) {
  .tags {
    width: 1000px;
    margin-top: 48px;
  }
}
