.nav {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  text-decoration: underline;
  padding-bottom: 12px;
  padding-left: 4px;
}

@media (min-width: 380px) {
  .nav {
    padding-left: 0;
  }
}

@media (min-width: 1280px) {
  .nav {
    visibility: hidden;
  }
}
