.playerSection {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 240px;
  background-color: #e7397a;
  position: relative;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
}

.playerSectionActive {
  display: flex;
}

.closeIcon {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 24px;
  width: 24px;
  padding: 4px;
}

.trackList {
  display: flex;
  flex-direction: column;
  /* min-height: 100px; */
  row-gap: 8px;
  font-size: 14px;
  margin: 16px 24px 0 24px;
  border: 1px solid black;
  overflow-y: scroll;
}

.track {
  display: flex;
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

.trackTitle {
  margin-left: 16px;
  width: 80%;
}

.playerContainer {
  position: relative;
  display: flex;
  min-height: 140px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.title {
  margin-top: 12px;
  font-size: 14px;
}

.buttonsContainer {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playNextButton {
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../assets//images/play-next.svg");
}

.playPreviousButton {
  border: 0;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../assets//images/play-previous.svg");
}

.playNextButton :active {
  opacity: 0;
}

.playButton {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.playbutton :active {
  opacity: 0;
}

.playIcon {
  height: 40px;
  width: 40px;
}

.videoIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 40px;
  top: 30px;
}

.artwork {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 10px;
  left: 12px;
}
