.playerSection {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: #e7397a;
  position: relative;
  margin-top: 24px;
  flex-grow: 1;
}

.playerSectionActive {
  display: flex;
}

.closeIcon {
  position: absolute;
  top: -24px;
  right: 2px;
  height: 24px;
  width: 24px;
  padding: 4px;
}

.trackInfoSection {
  display: flex;
  margin-left: 32px;
  margin-top: 16px;
  height: 20%;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;

  width: 40%;
  margin-left: 16px;
}

.artwork {
  display: block;
  width: auto;
  height: 110px;
  top: 10px;
  left: 12px;
}

.trackList {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 20px 12px 0 32px;
  overflow-y: scroll;
  /* border: 1px solid green; */
  height: 35%;
}

.track {
  display: flex;
  margin-top: 28px;
  margin-right: 8px;
}

.trackTitle {
  margin-left: 16px;
  width: 80%;
}

.playerContainer {
  position: relative;
  display: flex;
  height: 30%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border-top: 1px solid black;
}

.title {
  margin-top: 12px;
  font-size: 14px;
}

.buttonsContainer {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playNextButton {
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../assets//images/play-next.svg");
}

.playPreviousButton {
  border: 0;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../assets//images/play-previous.svg");
}

.playNextButton :active {
  opacity: 0;
}

.playButton {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.playbutton :active {
  opacity: 0;
}

.playIcon {
  height: 40px;
  width: 40px;
}

.videoIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 35px;
  top: 20px;
}
