.titleContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 8px;
  height: 16px;
}

.bitTitleTextContainer {
  width: 80%;
  overflow: hidden;
}

.bitTitleTextContainer p {
  color: rgba(231, 57, 121, 1);
  font-weight: 600;
  padding: 0;
  margin: 0;
  text-align: start;
  animation: text 7s infinite linear;
  white-space: nowrap;
}

@keyframes text {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translate(0, 0);
  }

  65% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.title {
  width: 94%;
  font-size: 12px;
  word-spacing: -2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titlePlaying {
  color: rgba(231, 57, 121, 1);
  font-weight: 600;
  font-size: 12px;
  word-spacing: -2px;
}
