.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #e7397a;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.closeButton {
  all: unset;
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 4px;
}

.closeIcon {
  height: 16px;
  width: 16px;
}

.playerContainer {
  flex-shrink: 0;
  position: relative;
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  border-top: 1px solid black;
}

@media (min-width: 400px) {
  .projectInfoContainer {
    font-size: 14px;
  }

  .artwork {
    height: 110px;
  }

  .track {
    font-size: 14px;
    margin-top: 28px;
  }

  .playerContainer {
    height: 120px;
    gap: 8px;
  }

  .title {
    font-size: 14px;
  }

  .playIcon {
    height: 40px;
    width: 40px;
  }

  .playNextButton {
    height: 40px;
    width: 40px;
  }

  .playPreviousButton {
    height: 40px;
    width: 40px;
  }
}
