.container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 30px;
  width: 30px;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.playNextButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.playNextButton:hover {
  animation: flash 0.5s 1;
}

.playNextButton:active {
  opacity: 0;
}

.playButton {
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: all 0.1s;
}

.playButton:hover {
  animation: flash 0.5s 1;
}

.playButton :active {
  opacity: 0;
}

@media (min-width: 720px) {
  .container {
    width: 30%;
  }

  .icon {
    /* height: 40px;
    width: 40px; */
  }
}
