.container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playNextButton {
  background-color: transparent;
  padding: 0;
  border: 0;
}

.playNextButton :active {
  opacity: 0;
}

.playNextButton :hover {
  filter: drop-shadow(3px 3px 3px rgb(0 0 0 / 0.4));
}

.playButton {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.playbutton :active {
  opacity: 0;
}

.playButton :hover {
  filter: drop-shadow(3px 3px 3px rgb(0 0 0 / 0.4));
}

.icon {
  height: 35px;
  width: 35px;
}

.iconPlayPrevious {
  transform: rotate(180deg);
}

@media (min-width: 400px) {
  .icon {
    height: 40px;
    width: 40px;
  }
}
