.container {
  display: flex;
  position: absolute;
  right: 40px;
  top: 30px;
  cursor: pointer;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.container:hover {
  animation: flash 0.5s 1;
}

.button {
  all: unset;
  margin-left: 8px;
  font-size: 12px;
  display: none;
}

.videoIcon {
  width: 40px;
  height: 40px;
}

@media (min-width: 720px) {
  .container {
    top: 56px;
    right: auto;
    left: 112px;
  }

  .button {
    display: block;
  }

  .videoIcon {
    width: 20px;
    height: 20px;
  }
}
