.track {
  display: flex;
  flex-direction: column;
}

.trackImageContainer {
  position: relative;
}

.trackImage {
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trackImageMask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 100%;
}

.trackImageMaskSelected {
  display: block;
}

.imageMaskButtonLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4%;
  left: 4%;
  width: 44%;
  height: 92%;
  background-color: rgba(231, 57, 121, 1);
}

.imageMaskButtonRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4%;
  right: 4%;
  width: 44%;
  height: 92%;
  background-color: rgba(231, 57, 121, 1);
}

.imageMaskIcon {
  width: 40px;
  height: 40px;
}

.titleContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 8px;
}

.titleTextContainer {
  height: 16px;
  width: 80%;
  overflow: hidden;
}

.titleTextContainer p {
  color: rgba(231, 57, 121, 1);
  font-weight: 600;
  padding: 0;
  margin: 0;
  text-align: start;
  animation: text 7s infinite linear;
  white-space: nowrap;
}

@keyframes text {
  0% {
    transform: translateX(100%);
  }

  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.title {
  font-size: 12px;
  word-spacing: -2px;
  text-wrap: pretty;
}

.titlePlaying {
  color: rgba(231, 57, 121, 1);
  font-weight: 600;
}
