.audioElementContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.trackLabel {
  align-items: center;
  display: flex;
  width: 65%;
}

.playButton {
  height: 15px;
  width: 15px;
}

.title {
  display: block;
  color: #424144;
  font-weight: 600;
  height: 15px;
  line-height: 14px;
  margin: 0;
  margin-left: 12px;
  padding: 0;
}

.contentContainer {
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 60%;
}

.content {
  width: 100%;
}

.audioPlayerContainer {
  margin-top: 35px;
}

.videoPlayer {
  display: block;
  margin-top: 35px;
  width: 100%;
}
