.section {
  /* margin-top: 16px; */
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.imagesGrid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 48% 48%;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 8px;
  flex-grow: 1;
  overflow: hidden;
}

.container {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  /* row-gap: 4px; */
}

.image {
  width: 100%;
  height: auto;
}

.caption {
  padding-top: 4px;
}

.pagesCountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagesCount {
}
