.gallery {
  flex-grow: 1;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pagesCountContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 10%;
  flex-shrink: 0;
}

.pagesCount {
  font-size: 14px;
  font-weight: 600;
}

.button {
  all: unset;
  height: 28px;
}

.chevron {
  color: black;
  height: 28px;
  transform: rotate(270deg);
}

.chevronRight {
  transform: rotate(90deg);
}

.popupImage {
  width: 100%;
  height: auto;
}

.popupCaption {
  padding-left: 4px;
}

@media (min-width: 720px) {
  .popupImage {
    width: auto;
    max-height: 640px;
  }
  .popupCaption {
    padding-left: 0;
  }
}

@media (min-width: 1280px) {
  .gallery {
    width: 900px;
    align-self: center;
    margin-top: 48px;
  }
  .imagesGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }

  .pagesCount {
    font-size: 18px;
  }

  .button {
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  .gallery {
    width: 1000px;
  }
}
