* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #c3c2c2 #d6d6d6;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  min-width: 360px;
  font-family: "IBM Plex Mono", monospace;
  background-color: #d6d6d6;
  -webkit-text-size-adjust: none;
}

#root {
  height: 100%;
}
