.playerSection {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: #e7397a;
}

.playerSectionActive {
  display: flex;
}

.playButton {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playIcon {
  height: 32px;
  width: 32px;
}

.closeIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 24px;
  width: 24px;
}

.timeScrubberContainer {
  display: grid;
  justify-items: center; /* Горизонтальное выравнивание по центру */
  align-items: center;
  grid-template-columns: 10% 70% 10%;
  gap: 16px;
  width: 100%;
  justify-content: center;
  justify-items: center;
  padding: 16px;
}

.timeScrubber {
  width: 100%;
}

.timeValue {
  color: black;
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  right: 2px;
  top: -8px;
}

input[type="range"] {
  background-image: linear-gradient(black, black);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  height: 4px;
  width: 100%;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  opacity: 0;
}

input[type="range"]::-moz-range-thumb {
  opacity: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
}
