.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 16px;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content 1fr;
  height: 95%;
  overflow: hidden;
  width: 94%;
}
