.section {
  overflow-y: scroll;
  width: 100%;
  flex-grow: 1;
  position: relative;
  overflow-y: scroll;
}

@media (min-width: 720px) {
  .section {
    width: 70%;
    justify-self: center;
  }
}

.contentContainer {
}
