.projects {
  overflow-y: scroll;
  flex-grow: 1;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.projects::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1080px) {
  .projects {
    margin-top: 48px;
  }
  .projectsContainer {
    width: 900px;
    justify-self: center;
  }
}

@media (min-width: 1440px) {
  .projectsContainer {
    width: 1000px;
  }
}

@media (min-width: 1700px) {
  .projectsContainer {
    width: 1200px;
  }
}
