.section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 8px;
  align-self: center;
}

.contactsButton {
  all: unset;
  padding: 20px;
  font-size: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-grow: 1;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .section {
    width: 900px;
    margin-top: 90px;
  }

  .contactsButton {
    padding: 60px;
  }
}

@media (min-width: 1440px) {
  .section {
    width: 1000px;
  }
}
