.page {
  position: relative;
  height: 100%;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.name {
  margin-left: 5%;
  margin-top: 30px;
}

.title {
  margin-left: 5%;
  margin-top: 12px;
}

.togglerSection {
  margin-top: 70px;
}
