.page {
  position: relative;
  height: 100%;
  overflow: scroll;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.name {
  margin-left: 5%;
  margin-top: 30px;
}

.title {
  margin-left: 5%;
  margin-top: 12px;
}

.togglerSection {
  margin-top: 50px;
}

.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genresSection {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.genresContainer {
  display: flex;
}

.genresList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 7px;
}

.genreButton {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  color: #424144;
}

.logo {
  display: block;
  height: 220px;
  margin-left: 20px;
}

.trackListSection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
